article {
  max-width: 60em;
  background: rgb(102, 95, 95);
  padding: 2em;
  margin: 1em auto;
  color: rgb(231, 223, 223);
}

.opomlinks {
  color: rgb(238, 228, 228);
  text-decoration: none;
}

.opomlinks a:hover,
.opomlinks a:active {
  text-decoration: underline;
}

.table-of-contents {
  float: top;
  width: 100%;
  background: rgb(43, 41, 41);
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
  color: aliceblue;
}
.table-of-contents ol {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h3:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from {
    background: yellow;
  }
  to {
    background: white;
  }
}
