* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.header {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

#clock {
  text-align: right;
  font-size: small;
  color: #c3c7c3;
  margin-bottom: 0;
  padding: 0;
}

.hline {
  border-width: 1 px;
  border-color: rgb(191, 190, 192);
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar {
  overflow: hidden; /* Hide overflow */
  display: block;
  background-color: #333; /* Black background color */
  width: 100%; /* Full width */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 6px 7px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #17640d;
  color: white;
  font-weight: bolder;
  animation-name: example;
  animation-duration: 4s;
}

/* Main column */
.main {
  /* Set the width of the main content */
  flex: 100%;
  /* White background color */
  background-color: rgb(22, 21, 21);
  /* Some padding */
  padding: 0px;
  font-size: 12px;
}

.main a {
  text-decoration: underline;
}
.main a:hover {
  background-color: rgb(248, 236, 236); /* Grey background color */
  color: black; /* Black text color */
  padding: 10px; /* Some padding */
  font-size: 24px;
  text-decoration: none;
}

/* Style the list */
ul.breadcrumb {
  padding: 6px 15px;
  list-style: none;
  background-color: rgb(51, 48, 48);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  color: white;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 6px;
  color: rgb(235, 226, 226);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #198aec;
  text-decoration: none;
  font-weight: bold;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #73a4cf;
  text-decoration: underline;
  font-size: 18px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(39, 37, 37);
  color: white;
  text-align: right;
  font-size: 10px;
  padding-right: 10px;
}

@keyframes example {
  0% {
    background-color: rgb(25, 143, 40);
  }
  40% {
    background-color: rgb(221, 235, 19);
  }
  60% {
    background-color: rgb(241, 65, 21);
  }
  100% {
    background-color: rgb(37, 92, 37);
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
